.logoM {
    width: 50px;
    height: auto;

}

#paradise {
	background-size: cover;
	width: 900px;
	height: 500px;
}
.credit{
    font-size: x-small;
}

.applause{
    width: 30px;;
}

